body {
  box-sizing: border-box;
}
.navbar {
  margin-bottom: 0;
}
/*Main style  */
.main-section {
  background-color: #fff;
  margin-top: 0;
}
.login-form , .signup-form {
  max-width: 60%;
  margin: 10% auto;

}
.login-form input , .signup-form input {
  margin: 15px auto !important;
}
